<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Hi, {{user.first_name}}!</h1>
            <a href="/add/recipe">Add Recipe</a>
            <a href="/logout">Logout</a>
        <table>
            <th>
                <tr>
                    <th>Name</th>
                    <th>Under 30 Minutes</th>
                    <th>Actions</th>
                </tr>
            </th>
                {% for recipe in recipes %}
                    <tr>
                        <td>{{recipe.name}}</td>
                        {% if recipe.under30min == 1 %}
                        <td>Yes</td>
                        {% elif recipe.under30min == 0 %}
                        <td>No</td>
                        {% endif %}
                        <td>
                            <a href="/show/recipe/{{recipe.id}}">Instructions</a>
                            {% if recipe.user_id == session.user_id %}
                            <a href="/edit/recipe/{{recipe.id}}">Edit</a>
                            <a href="/delete/recipe/{{recipe.id}}">Delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
        </table>
</body>
</html>
