<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <h1>Hi, {{user.first_name}}!</h1>
            <a href="/dashboard">Dashboard</a>
            <a href="/logout">Logout</a>
    </div>
    <form action="/new/recipe" method="post">
        <h1>Add Recipe:</h1>
            {% with errors = get_flashed_messages(category_filter=['recipe']) %}
            {% if errors %}
                {% for error in errors %}
                <p>{{error}}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
                <div>
                    <label for="name">Name:</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="description">Description:</label>
                    <textarea name="description"  cols="45" rows="5"></textarea>
                </div>
                <div>
                    <label for="instructions">Instructions:</label>
                    <textarea name="instructions"  cols="45" rows="5"></textarea>
                </div>
                <div>
                    <label for="date_made">Date:</label>
                    <input type="date" name="date_made">
                </div>
                <label for="under30min">Under 30 Minutes:</label>
                <div>
                    <input type="radio" name="under30min" value="0" checked>
                    <label for="0">No</label>
                </div>
                <div>
                    <input type="radio" name="under30min" value="1">
                    <label for="1">Yes</label>
                </div>
                <input type="submit" value="New Recipe">
                </div>
    </form>
</body>
</html>
